<h3>Datastores</h3>
<button class="button" onclick="fetchDatastores()">Reload Datastores</button>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity (GB)</th>
            <th>Used (GB)</th>
        </tr>
    </thead>
    <tbody id="datastore-list"></tbody>
</table>
