<h3>Virtual Machines</h3>
<button class="button" onclick="fetchVMs()">Reload Virtual Machines</button>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Power State</th>
            <th>CPU</th>
            <th>Memory (GB)</th>
        </tr>
    </thead>
    <tbody id="vm-list"></tbody>
</table>
